
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1000px;
  min-height: 900px;
  margin: 0 auto;
  padding: 20px;
}

.textarea {
  width: 100%;
  resize: none;
  margin-bottom: 50px;
}

.keyboard{
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  width: 100%;
 // width: 300px;
  height: 300px;
}

.key {
  padding-top: 20%;
  text-align: center;
  font-size: 1rem;
  border-radius: 5px;
  background: mediumturquoise;
  cursor: pointer;

  &--wide{
    grid-column: span 2;
  }
  &--space{
    grid-column: span 6;
  }

}

.keydown{
  background-color: mediumvioletred;
}

.capslock {
  background-color: green;
}

.shift {
  background-color: green;
}

.alt {
  background-color: green;
}

.ctrl {
  background-color: green;
}


